body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #f4f4f4;
    color: black;
    padding: 3px;
    text-align: center;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

            nav ul li a:hover {
                font-weight: bold;
            }

*,
*:before,
*:after {
    box-sizing: border-box;
}

#container {
    position: relative;
}

#product-svg {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
}

#product-shape {
    fill: #ff7f00;
    stroke: #ff7f00;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.colors {
    display: flex;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 3;
}

.color {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}

.jscolor {
    position: fixed;
    bottom: 4em;
    right: 4em;
    z-index: 3;
    padding: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.color-changing-svg path {
    transition: fill 0.5s ease;
}